.navbar-nav a:hover {
    color: white;
    background-color:blueviolet;
    border-radius:10px;
    padding-left:10px
}
#nav1:hover{
    color: white;
}
.navbar-brand img{
    width:25%
}
.main{
    padding-top:100px;
    width:100%;
    height:100vh;
    background-image:url("./bg.jpeg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family:Roboto;
    
}
.main-heading{
    color:pink;
    font-weight:bold;
    font-size:60px;
}
.img1 img{
    width:100%
}
#feature{
    margin-top:30px;
    font-family:Roboto;
    padding:100px 0px;
}
.para{
    color:lightslategray;
    margin-top:100px;
}
#pricing{
    font-family:Roboto;
    margin-top:30px;
    padding:100px 30px;

}
p{
    color:lightslategray;
}

h1{
    color:blueviolet;
    margin-bottom :20px;
    font-weight:bold;
}
#con{
    font-family:Roboto;
    margin-top:30px;
    padding:100px 30px;
}